<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.mapper.StudentMapper">

	<select id="getList" resultType="com.example.domain.Student">
		select * from student
		
		 <trim prefix="WHERE" prefixOverrides="AND|OR"  suffixOverrides="AND|OR">  
		 	<if test="name !=null and !&quot;&quot;.equals(name.trim())">
		 		name like '%' #{name} '%'
		 	</if>
		 	<if test="mobile !=null and !&quot;&quot;.equals(mobile.trim())">
		 		and mobile like '%' #{mobile} '%'
		 	</if>
		 	<if test="mail !=null and !&quot;&quot;.equals(mail.trim())">
		 		and mail like '%' #{mail} '%'
		 	</if>

		 </trim>
		
	</select>

	<insert id="insert" >
		replace into student (mobile,name,mail,sex,education)
		values
		<foreach collection="list" item="student" separator=",">
			(#{student.mobile},#{student.name},#{student.mail},#{student.sex},#{student.education})
		</foreach>
	</insert>
	
	<delete id="remove">
		delete from student where mobile = #{mobile}
	</delete>
</mapper>
